
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    
    
}
body{
    display:flex;
    flex-direction: column;
    margin:auto;
    position: relative;
    
    

}

#navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: azure;
   
}
#text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    
}


#text h3{
    margin:10;
}



#main{
    display: flex;
    
    flex-direction: row;
    
    
    
   
   

}




#main img{max-width: 100%;
    object-fit:contain; 
    
}


#img2{
    position: relative;
}

#img2-1{
    position: absolute;
    top:50px;
}

#img2-1 h2{
    font-size:20px;
   
}
#img2-1 button{
    width: 300px;
    height: 50px;
    border-color:black;
    
    background-color: rgb(255, 255, 255);
    font-size: 100%;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
}

a{
   color: azure; 
   text-decoration:none
}








    
    










#About{
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    color: azure;
    
}

#ceo{display:flex;
justify-content: center;}



#About p{
    display: flex;
    justify-content: space-around;
    align-items: center;

}


#About img{
    display: flex;
    margin-top: -10px;
    max-width:10%;
    object-fit:contain;
    margin-right:40px;
}

#About img{width: 1000px;}


#contact{
    background-color: black;
    color: azure;
}



  























#About{
    display: flex;
    justify-content: center;
}

#Services{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    
}



#services1{
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
    
    
}

#services1 h2{
    margin-left: 100px;
    margin-right: 100px;
   
 
}
#services1 img{
    width:50%;
}

#poligon1{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    
    

 
}

#poligon2{
    
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    text-align: center;
 
}

#poligon3{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    text-align: center;
}


#Contact
{
    
    justify-content: center;
    text-align: center;
    
    padding-top: 100px;
    padding-bottom: 100px;
    
    

  
    
}

#sm  img{
  align-items: center;

}


#Footer{
    display: flex;
    justify-content: center;
    
}

#img4{
position: absolute;
top: 100px;
}


#services1 button{
    width: 300px;
    height: 50px;
    border-color:black;
    
    background-color: rgb(255, 255, 255);
    font-size: 100%;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
}



 